@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
url('../fonts/icomoon.woff') format('woff'),
url('../fonts/icomoon.ttf') format('truetype'),
url('../fonts/icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal;}
.rmm{background:rgba(0, 0, 0, 0) url("../images/nav-bg.png") repeat-x scroll left top;border:1px solid #ffd24f;border-radius:0 25px 25px;box-shadow:0 0 0 6px rgba(255, 255, 255, 0.2);height:42px;right:60px;top:16px;width:auto;position:absolute;z-index:999;}
.rmm ul{margin:0;padding:0;list-style:none;position:relative;height:36px;border-radius:0 25px 25px;z-index:999;}
.rmm ul:after{content:"";clear:both;display:block;}
.rmm ul li{float:left;vertical-align:middle;z-index:999;}
.rmm ul li:hover{}
.rmm ul li:hover > ul{display:block;}
.rmm ul li:hover a{color:#fff;}
.rmm ul li a{color:#fff;display:block;text-decoration:none;}
.rmm ul ul{display:none;margin:0;padding:0;position:absolute;top:100%;}
.rmm ul ul li{float:none;position:relative;z-index:999;}
.rmm ul ul li a{color:#fff;}
.rmm ul ul li a:hover{background:#202020;}
.rmm ul ul ul{position:absolute;left:100%;top:0;width:auto;}
.rmm li a:not(.link-home){color:#f7dc75;font-family:MyriadRegular;font-size:14px;line-height:14px;text-align:left;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);text-transform:uppercase;white-space:nowrap;}
.rmm li, .rmm ul{height:40px;width:auto;z-index:999;}
.rmm-toggled{width:100%;background-color:#555555;min-height:50px;margin:0 auto;display:none;}
.rmm-closed ~ .rmm-mobile{display:none!important;}
.rmm-toggled-controls{width:100%;}
.rmm-toggled-title{width:60%;float:left;font-size:27px;color:#fff;font-weight:600;display:block;padding:8px 0;text-decoration:none;text-transform:uppercase;text-align:left;padding-left:35px;}
.rmm-toggled-button{width:20%;float:left;margin-top:3px;display:block;width:32px;padding:0 !important;margin:10px 10px 0 0;border:1px solid #fff;border-radius:3px;float:right;}
.rmm-toggled-button span{float:left;display:block;margin:3px 6px;height:3px;background:white;width:20px;}
.rmm .rmm-back{display:none;font-size:12px;}
.rmm .rmm-back:after{display:none;}
.rmm .rmm-back a:after{font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;content:"\e000";position:relative;display:inline-block;-webkit-transform:rotate(-60deg);transform:rotate(-60deg);margin-top:0;right:-2px;float:left;font-size:10px;color:#f7dc75;}
.rmm-mobile .rmm-back{display:block;}
.rmm-back a{color:#f7dc75 !important;text-align:center !important;}
.rmm-mobile{width:100%;}
.rmm-mobile .rmm-dropdown:hover ~ ul, .rmm-mobile .rmm-dropdown:hover > ul ,.rmm-mobile .rmm-dropdown:hover + ul{display:none!important;}
.rmm-mobile ul{width:100%;position:inherit!important;}
.rmm-mobile li{width:100%;}
.rmm-dropdown{display:block!important;}
.rmm-mobile .rmm-subview{display:block!important;width:100%;}
.rmm-mobile .rmm-subover-hidden{display:none!important;}
.rmm-mobile .rmm-subover-visible{display:block;}
.rmm-mobile .rmm-subover-header{display:none!important;padding:0;margin:0;}
.rmm-mobile .rmm-submenu{position:relative;left:0px;}
.rmm .rmm-mobile li:hover > ul{display:none;}
.rmm.style{text-align:left;font-family:Tahoma;}
.rmm.style ul{text-transform:uppercase;display:inline-table;text-align:left;}
.rmm.style ul li{text-align:left;}
.rmm.style ul li:hover{}
.rmm.style ul ul{display:none;margin:0;border-radius:0px;padding:0;position:absolute;}
.rmm.style ul li a{font-weight:600;display:block;padding:13px 35px;text-decoration:none;font-weight:600;}
.rmm.style ul ul li{border-bottom:1px solid #ffd24f;border-top:1px solid #6B727C;background:url("../images/nav-bg.png") no-repeat center center fixed;height:auto;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.rmm.style ul ul li a{color:#fff;min-width:220px;padding:12px 25px;white-space:normal;line-height:18px;}
.rmm.style ul ul li a:hover{}
.rmm.style ul li > a:not(:only-child):after{font-family:'icomoon';speak:none;-webkit-font-smoothing:antialiased;content:"\e000";position:relative;display:inline-block;-webkit-transform:rotate(210deg);transform:rotate(210deg);top:-2px;left:1px;font-size:10px;}
.rmm.style ul ul li > a:not(:only-child):after{-webkit-transform:rotate(120deg)!important;transform:rotate(120deg)!important;top:2px;font-size:14px;float:right;margin-right:-20px;}
.rmm.style .rmm-mobile li > a:not(:only-child):after{-webkit-transform:rotate(120deg)!important;transform:rotate(120deg)!important;top:4px!important;font-size:14px!important;float:right;margin-right:-20px;}
.rmm.style .rmm-mobile li{background:url("../images/pattern.png") no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-bottom:1px solid #575f6a!important;border-top:0!important;height:46px;}
.rmm-mobile{width:100%;margin-top:20px;right:0;}
.rmm-mobile ul{width:100% !important}
.rmm-mobile ul ul{width:100% !important}
.rmm-mobile ul ul li{width:100% !important}
.rmm-mobile ul ul li a{width:100% !important}
.rmm-mobile .link-home{margin-left:100px;margin-top:3px;padding:13px 15px !important;}
.rmm-mobile li{height:40px;}
@media (max-width:1110px){.rmm ul{width:100% !important;}
}